Jetty_Home/

server-a/.gradle/
server-a/.idea/
server-a/gradle/
server-a/out/
server-a/*/build/
server-a/rest-api/src/mainGeneratedRest/
server-a/rest-api/src/mainGeneratedDataTemplate/
server-a/rest-api/src/main/idl/
server-a/rest-api/src/main/snapshot/
server-a/rest-impl/src/mainGeneratedRest/
server-a/gradlew
server-a/gradlew.bat
server-a/*.iml
server-a/*.ipr
server-a/*.iws
server-a/*/*.iml

server-a-client/.gradle
server-a-client/.idea
server-a-client/build/
server-a-client/gradle/
server-a-client/out/
server-a-client/gradlew
server-a-client/gradlew.bat
server-a-client/*.iml
server-a-client/*.ipr
server-a-client/*.iws

server-a-zookeeper/.gradle
server-a-zookeeper/.idea
server-a-zookeeper/build/
server-a-zookeeper/gradle/
server-a-zookeeper/out/
server-a-zookeeper/gradlew
server-a-zookeeper/gradlew.bat
server-a-zookeeper/*.iml
server-a-zookeeper/*.ipr
server-a-zookeeper/*.iws
